@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.shadow-drop {
  --tw-shadow: 0 -8px 25px 0 rgba(0, 0, 0, 0.22);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.shadow-drop-input {
  --tw-shadow: 0 4px 30px 0 rgba(102, 102, 102, 0.2);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
